.box {
    height: 192px;
    width: 320px;
    margin-bottom: 40px;
    background: url('img/gift.jpg');
    background-size: cover;
    color: white;
    position: relative;
  }
  .promotion {
    width: 60px;
    padding: 10px 0;
    top: -6px;
    left: 24px;
    text-align: center;
    border-top-left-radius: 4px;
    background: #F47530;
    position: absolute;
   }
   .promotion:before {
    right: -6px;
    top: 0.1px;
    border-bottom: 6px solid #8D5A20;
    border-right: 6px solid transparent;
   }
   .promotion:before, .promotion:after {
     content: "";
     position: absolute;
   }
   .promotion:after {
     bottom: -30px;
     left: 0;
     border-left: 30px solid #F47530;
     border-right: 30px solid #F47530;
     border-bottom: 30px solid transparent;
   }
   .sale {
     width: 150px;
     height: 50px;
     line-height: 50px;
     padding-left: 16px;
     left: -8px;
     top: 20px;
     background: #59324C;
     position: absolute;
   }
   .sale:before, .sale:after {
     content: "";
     position: absolute;
   }
   .sale:before {
     top: -9px;
     left: 0.1px;
     border-bottom: 9px solid black;
     border-left: 9px solid transparent;
   }
   .sale:after {
     right: -15px;
     border-top: 25px solid transparent;
     border-bottom: 25px solid transparent;
     border-left: 15px solid #59324C;
   }